PORT=5000
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=app-name
JWT_SECRET=some-random-secret-key
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=strong_password
ORIGIN=http://localhost:5173
BASE_URL=http://localhost:5000
